// Base Config
@import '~normalize.css/normalize.css';
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';

//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.scss';

//Shared
@import './apps/admin/shell.scss';
@import './apps/admin/dashboard.scss';


//Libs
@import './libs/users/users.scss';


.sticky-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed to sit above other content */
    background-color: #fff; /* Ensure it doesn’t become transparent */
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for visual separation */
}
